{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h1>Secret not found</h1></div>
    <p class="lead">The URL was not found. This may be either because the link has already expired or someone else has already redeemed this link. In any case please contact u
      s to get new access data.</p>
    <hr />
    <p class="lead">Die URL wurde nicht gefunden. Dies kann entweder daran liegen, dass der Link bereits abgelaufen ist oder jemand anders hat diesen Link bereits eingelöst. I
      n jedem Fall halte bitte Rücksprache um neue Zugangsdaten zu erhalten.</p>
  </section>
</div>
{% endblock %}
